In [1]:
import pandas as pd

In [2]:
import os

In [3]:
a = os.getcwd()

In [4]:
b = "user_profiles"
c = os.path.join(a,b)

In [6]:
df = pd.read_csv(f"{c}/user-data.csv", index_col = [0])

In [7]:
print(df)

    profile_name profile_type  age_range  gender  pronouns  about_me
0  gilcraos#2111       normal        NaN     NaN       NaN       NaN
1   Regulus#8269       dating        NaN     NaN       NaN       NaN
2   Regulus#8269       normal        NaN     NaN       NaN       NaN

In [8]:
print(df["profile_type"])

0    normal
1    dating
2    normal
Name: profile_type, dtype: object

In [9]:
df.index

Int64Index([0, 1, 2], dtype='int64')