In [1]:
# ps when installing stuff using jupyter you should just use python & pip not the python3 & pip3
# intesteting i think installing via jupyter installs it normally...
pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.10/site-packages (from geopy) (1.52)
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
'''
We are going to use Nominatim() in the next video. Nominatim() currently has a bug. To fix this problem, whenever you see these lines in the next video:

from geopy.geocoders import Nominatim
nom = Nominatim()

change them to these

from geopy.geocoders import ArcGIS
nom = ArcGIS()

The rest of the code remains the same.
'''

In [19]:
import pandas
import csv
import geopy
dir(geopy)

['AlgoliaPlaces',
 'ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'BaiduV3',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'Geocodio',
 'Geolake',
 'GoogleV3',
 'Here',
 'HereV7',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'MapQuest',
 'MapTiler',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'What3WordsV3',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 'adapters',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'get_version',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [6]:
print(geopy.__path__)
print(geopy.__version__)
print(geopy.__doc__)

['/usr/local/lib/python3.10/site-packages/geopy']
2.2.0

geopy is a Python client for several popular geocoding web services.

geopy makes it easy for Python developers to locate the coordinates of
addresses, cities, countries, and landmarks across the globe using third-party
geocoders and other data sources.

geopy is tested against CPython (versions 3.5, 3.6, 3.7, 3.8, 3.9)
and PyPy3. geopy 1.x line also supported CPython 2.7, 3.4 and PyPy2.

In [8]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [13]:
a = nom.geocode("3994 23rd St, San Francisco, CA 94114")

In [14]:
b = nom.geocode("1540 Virginia Marie St, New Orleans, LA 70122")

In [15]:
c = nom.geocode("3900 Dublin St, New Orleans, LA 70125")

In [17]:
print(a.latitude)
print(a.longitude)

37.753258998390876
-122.43175601699937

In [34]:
df = pandas.read_csv("supermarkets/supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [35]:
df["Address"] = df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]
df
# remember be careful when reloading these cells when editing columns and rows. the changes persist between commands

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [37]:
# to avoid iterating to apply nom.geocode to all rows, pandas can use apply()
df["Coordinates"] = df["Address"].apply(nom.geocode) # dont pass the parentheses for nom.geocode

In [39]:
df.Coordinates

0    (3666 21st St, San Francisco, California, 9411...
1    (735 Dolores St, San Francisco, California, 94...
2    (332 Hill St, San Francisco, California, 94114...
3    (3995 23rd St, San Francisco, California, 9411...
4    (1056 Sanchez St, San Francisco, California, 9...
5    (551 Alvarado St, San Francisco, California, 9...
Name: Coordinates, dtype: object

In [40]:
df.Coordinates[0]

Location(3666 21st St, San Francisco, California, 94114, (37.756632001957215, -122.42941101194798, 0.0))

In [41]:
df.Coordinates[0].latitude

37.756632001957215

In [43]:
df["Latitude"] = df["Coordinates"].latitude
df["Longitude"] = df["Coordinates"].longitude
# oops, cant apply latitude or longitude directly, you have to go through apply()

AttributeError: 'Series' object has no attribute 'latitude'

In [46]:
# correct usage
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x!= None else None)
# if cond is a safetey net for None/unexpected outcomes
# in short: give me x.latitude IF x != None, else...if x = None...return None instead.
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x!= None else None)

In [45]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756632,-122.429411
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757829,-122.425373
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755845,-122.428813
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752921,-122.431703
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752132,-122.430006
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753582,-122.433234